*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (max-width: 600px) {
    html {
      font-size: 37.5%; } }

body {
  background-color: #000;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column; }
  body > * {
    border-radius: 1rem;
    margin: 0 10%; }
    @media (max-width: 1200px) {
      body > * {
        margin: 0 5%; } }
    @media (max-width: 900px) {
      body > * {
        margin: 0;
        border-radius: 0; } }

.header {
  display: flex;
  background-image: linear-gradient(to top, #00C2FF, #001CFF);
  justify-content: center;
  align-items: baseline;
  padding: 2rem; }
  .header__heading {
    color: #fff;
    padding: 0 2rem; }
  .header__logo {
    width: 6rem;
    height: 6rem; }

.nav {
  background-color: #007EFF;
  padding: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem; }
  .nav > * {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .nav__item, .nav__item2 {
    list-style: none; }
  .nav__link, .nav__link2 {
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    border-radius: .5rem;
    overflow: hidden; }
    .nav__link:hover, .nav__link2:hover {
      border: 1px solid #fff; }
  .nav__link2 {
    font-size: 2rem; }
  @media (max-width: 900px) {
    .nav .biggerSize {
      display: none; } }
  .nav .smallerSize {
    display: none;
    justify-content: space-between;
    align-items: flex-start; }
    @media (max-width: 900px) {
      .nav .smallerSize {
        display: flex; } }
    .nav .smallerSize .whole-dropdown {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .nav .smallerSize .whole-dropdown .dropdown-button {
        color: #fff;
        font-size: 3rem;
        margin-right: 20rem; }
        .nav .smallerSize .whole-dropdown .dropdown-button:hover {
          cursor: pointer; }
      .nav .smallerSize .whole-dropdown .hidden-dropdown {
        list-style: none;
        transform: translateX(-5rem); }
        .nav .smallerSize .whole-dropdown .hidden-dropdown .nav__item2:first-of-type {
          margin-top: 1rem; }
        .nav .smallerSize .whole-dropdown .hidden-dropdown > * {
          padding: 1rem 0; }

.focused {
  background-color: #fff;
  color: #007EFF !important; }

.main-content {
  background-image: linear-gradient(to bottom, #001CFF, #00C2FF);
  min-height: 50rem;
  display: flex; }
  @media (max-width: 900px) {
    .main-content {
      flex-direction: column; } }
  .main-content__chapter {
    font-size: 2rem;
    color: #fff;
    padding: 2rem 5%;
    line-height: 1.7;
    width: 70%;
    height: 100%;
    display: flex; }
    @media (max-width: 900px) {
      .main-content__chapter {
        width: 100%; } }
    .main-content__chapter .align {
      width: 100%;
      height: 100%; }
      @media (max-width: 900px) {
        .main-content__chapter .align ol {
          text-align: center; }
          .main-content__chapter .align ol > li {
            font-weight: 800; } }
    .main-content__chapter .center {
      text-align: center;
      width: 100%; }
  .main-content .reviews {
    width: 30%;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #fff;
    color: #007EFF;
    padding: 1rem;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 900px) {
      .main-content .reviews {
        width: 100%;
        justify-content: space-evenly; } }
    .main-content .reviews .headings {
      display: flex;
      flex-direction: column; }
    .main-content .reviews .heading-2 {
      color: #001CFF; }
    .main-content .reviews .heading-3 {
      color: #00C2FF; }
    @media (max-width: 900px) {
      .main-content .reviews__user-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around; } }
    @media (max-width: 600px) {
      .main-content .reviews__user-container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .main-content .reviews__user {
      background-image: linear-gradient(to right, #001CFF, #00C2FF);
      min-height: max-content;
      min-width: min-content;
      margin-top: 5rem;
      border-radius: .5rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff; }
      @media (max-width: 900px) {
        .main-content .reviews__user {
          width: 30rem; } }
      @media (max-width: 600px) {
        .main-content .reviews__user {
          width: 40rem; } }
      .main-content .reviews__user--details {
        display: flex;
        margin-top: auto;
        border-top: 1px solid #fff;
        align-items: center; }
        .main-content .reviews__user--details__photo {
          border-radius: 50%;
          width: 50%;
          height: 15rem; }
        .main-content .reviews__user--details__text {
          width: 50%;
          height: 15rem;
          border-left: 1px solid #fff;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main-content .reviews__user--details__text .heading-6 {
            padding: 0 1rem; }
  .main-content__form {
    font-size: 4rem;
    border-radius: 1rem;
    border: 1px solid #fff;
    padding: 1rem; }
    .main-content__form .name,
    .main-content__form .phone,
    .main-content__form .email,
    .main-content__form .date,
    .main-content__form .hour {
      display: flex;
      align-items: center;
      justify-content: space-betwee; }
      .main-content__form .name input,
      .main-content__form .phone input,
      .main-content__form .email input,
      .main-content__form .date input,
      .main-content__form .hour input {
        width: 30rem;
        height: 5rem;
        font-size: 3rem;
        color: #007EFF;
        border-radius: .5rem;
        overflow: hidden;
        border: 1px solid #fff; }
    .main-content__form .submit {
      text-align: center; }
      .main-content__form .submit .btn-submit {
        font-size: 2rem;
        color: #007EFF;
        background-color: #fff;
        border-radius: .5rem;
        overflow: hidden;
        font-family: inherit;
        outline: none;
        border: 1px solid #fff;
        padding: .5rem; }
        .main-content__form .submit .btn-submit:hover {
          color: #fff;
          background-color: #007EFF; }

.hidden {
  display: none !important; }

.footer {
  background-color: #7E82A7;
  display: flex;
  justify-content: center;
  padding: 1rem 0; }

.heading-1 {
  font-size: 6rem;
  font-family: 'Lato', sans-serif; }
  @media (max-width: 900px) {
    .heading-1 {
      font-size: 5rem; } }
  @media (max-width: 600px) {
    .heading-1 {
      font-size: 4rem; } }

.heading-2 {
  font-size: 2rem; }

.heading-3 {
  font-size: 1.5rem; }

.heading-4 {
  font-size: 1.4rem; }

.heading-5 {
  font-size: 1.2rem; }

.heading-6 {
  font-size: 1.2rem; }

.bold {
  font-weight: 800; }
