*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (max-width: 600px) {
    html {
      font-size: 37.5%; } }

.header {
  display: flex;
  background-color: #001CFF;
  justify-content: center;
  border-radius: 1rem; }
  .header__heading {
    color: #fff; }

.navbar {
  background-color: #007EFF; }

.main-content {
  background-color: #00C2FF; }

.heading-1 {
  font-size: 8rem; }
