.service3 {
    &__frontPart {

        &--1 {
            &::before {
                background-image: linear-gradient(
                to right,
                rgba(31, 28, 44, .6),
                rgba(146, 141, 171, .6));

                @include respond(tab-port) {
                    background-image: linear-gradient(
                    to right,
                    rgba(31, 28, 44, .6),
                    rgba(146, 141, 171, .6));
                }
            }
        }

        &--2 {
            &::before {
                background-image: linear-gradient(
                to right,
                rgba(31, 28, 44, .6),
                rgba(146, 141, 171, .6));

                @include respond(tab-port) {
                    background-image: linear-gradient(
                    to right,
                    rgba(31, 28, 44, .6),
                    rgba(146, 141, 171, .6));
                }
            }
        }

        &--3 {
            &::before {
                background-image: linear-gradient(
                to right,
                rgba(31, 28, 44, .6),
                rgba(146, 141, 171, .6));

                @include respond(tab-port) {
                    background-image: linear-gradient(
                    to right,
                    rgba(31, 28, 44, .6),
                    rgba(146, 141, 171, .6));
                }
            }
        }

        &--4 {
            &::before {
                background-image: linear-gradient(
                to right,
                rgba(31, 28, 44, .6),
                rgba(146, 141, 171, .6));

                @include respond(tab-port) {
                    background-image: linear-gradient(
                    to right,
                    rgba(31, 28, 44, .6),
                    rgba(146, 141, 171, .6));
                }
            }
        }

        &--5 {
            &::before {
                background-image: linear-gradient(
                to right,
                rgba(31, 28, 44, .6),
                rgba(146, 141, 171, .6));

                @include respond(tab-port) {
                    background-image: linear-gradient(
                    to right,
                    rgba(31, 28, 44, .6),
                    rgba(146, 141, 171, .6));
                }
            }
        }

        &--6 {
            &::before {
                background-image: linear-gradient(
                to right,
                rgba(31, 28, 44, .6),
                rgba(146, 141, 171, .6));

                @include respond(tab-port) {
                    background-image: linear-gradient(
                    to right,
                    rgba(31, 28, 44, .6),
                    rgba(146, 141, 171, .6));
                }
            }
        }
    }

    &__backPart {
        &--1::before {
            background-image: linear-gradient(
            to right,
            rgba(93, 98, 109, .6),
            rgba(41, 42, 43, .6));

            @include respond(tab-port) {
                background-image: linear-gradient(
                to right,
                rgba(93, 98, 109, .6),
                rgba(41, 42, 43, .6));
            }
        }

        &--2::before {
            background-image: linear-gradient(
            to right,
            rgba(93, 98, 109, .6),
            rgba(41, 42, 43, .6));

            @include respond(tab-port) {
                background-image: linear-gradient(
                to right,
                rgba(93, 98, 109, .6),
                rgba(41, 42, 43, .6));
            }
        }

        &--3::before {
            background-image: linear-gradient(
            to right,
            rgba(93, 98, 109, .6),
            rgba(41, 42, 43, .6));

            @include respond(tab-port) {
                background-image: linear-gradient(
                to right,
                rgba(93, 98, 109, .6),
                rgba(41, 42, 43, .6));
            }
        }

        &--4::before {
            background-image: linear-gradient(
            to right,
            rgba(93, 98, 109, .6),
            rgba(41, 42, 43, .6));

            @include respond(tab-port) {
                background-image: linear-gradient(
                to right,
                rgba(93, 98, 109, .6),
                rgba(41, 42, 43, .6));
            }
        }

        &--5::before {
            background-image: linear-gradient(
            to right,
            rgba(93, 98, 109, .6),
            rgba(41, 42, 43, .6));

            @include respond(tab-port) {
                background-image: linear-gradient(
                to right,
                rgba(93, 98, 109, .6),
                rgba(41, 42, 43, .6));
            }
        }

        &--6::before {
            background-image: linear-gradient(
            to right,
            rgba(93, 98, 109, .6),
            rgba(41, 42, 43, .6));

            @include respond(tab-port) {
                background-image: linear-gradient(
                to right,
                rgba(93, 98, 109, .6),
                rgba(41, 42, 43, .6));
            }
        }
    }
}