.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: green;
}

.Nav li {
  font-size: 2rem;
  list-style: none;
}

.Nav li a {
  text-decoration: none;
  color: red;
}

.Nav li a:hover {
  color: purple;
}
