.header {
    background: url(../imgs/headerbackground.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 2rem;

    &__heading {
        color: $cl-blueD;
        padding: 0 2rem;
    }

    &__logo {
        width: 6rem;
        height: 6rem;
    }
}