.header {
    display: flex;
    background-image: linear-gradient(to top, $cl-blueL, $cl-blueD);
    justify-content: center;
    align-items: baseline;
    padding: 2rem;

    &__heading {
        color: #fff;
        padding: 0 2rem;
    }

    &__logo {
        width: 6rem;
        height: 6rem;
    }
}