.main-content {
    background-image: linear-gradient(to bottom, $cl-blueD, $cl-blueL);
    min-height: 50rem;
    display: flex;

    @include respond(tab-port) {
        flex-direction: column;
    }

    &__chapter {
        font-size: 2rem;
        color: #fff;
        padding: 2rem 5%;
        line-height: 1.7;
        width: 70%;
        height: 100%;
        display: flex;

        @include respond(tab-port) {
            width: 100%;
        }

        .align {
            @include fullSize;

            @include respond(tab-port) {
                ol {
                    text-align: center;

                    & > li {
                        font-weight: 800;
                    }
                }
            }
        }

        .center {
            text-align: center;
            width: 100%;
        }
    }

    .reviews {
        width: 30%;
        border-radius: 1rem;
        overflow: hidden;
        background-color: #fff;
        color: $cl-blue;
        padding: 1rem;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include respond(tab-port) {
            width: 100%;
            justify-content: space-evenly;
        }

        .headings {
            display: flex;
            flex-direction: column;
        }

        .heading-2 {
            color: $cl-blueD;
        }

        .heading-3 {
            color: $cl-blueL;
        }

        &__user-container {
            @include respond(tab-port) {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-around;
            }

            @include respond(phone) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        &__user {
            background-image: linear-gradient(to right, $cl-blueD, $cl-blueL);
            min-height: max-content;
            min-width: min-content;
            margin-top: 5rem;
            border-radius: .5rem;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;

            @include respond(tab-port) {
                width: 30rem;
            }

            @include respond(phone) {
                width: 40rem;
            }

            &--details {
                display: flex;
                margin-top: auto;
                border-top: 1px solid #fff;
                align-items: center;

                &__photo {
                    border-radius: 50%;
                    width: 50%;
                    height: 15rem;
                }

                &__text {
                    width: 50%;
                    height: 15rem;
                    border-left: 1px solid #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .heading-6 {
                        padding: 0 1rem;
                    }
                }
            }
        }
    }

    &__form {
        font-size: 4rem;
        border-radius: 1rem;
        border: 1px solid #fff;
        padding: 1rem;

        .name,
        .phone,
        .email,
        .date,
        .hour {
            display: flex;
            align-items: center;
            justify-content: space-betwee;

            input {
                width: 30rem;
                height: 5rem;
                font-size: 3rem;
                color: $cl-blue;
                border-radius: .5rem;
                overflow: hidden;
                border: 1px solid #fff;
            }
        }

        .submit {
            text-align: center;

            .btn-submit {
                font-size: 2rem;
                color: $cl-blue;
                background-color: #fff;
                border-radius: .5rem;
                overflow: hidden;
                font-family: inherit;
                outline: none;
                border: 1px solid #fff;
                padding: .5rem;

                &:hover {
                    color: #fff;
                    background-color: $cl-blue;
                }
            }
        }
    }
}

.hidden {
    display: none !important;
}