.nav {
    background-color: $cl-blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    margin: .5rem 10%;

    &__item {
        list-style: none;
    }

    &__link {
        font-size: 3rem;
        text-decoration: none;
        color: #fff;
        padding: 1rem;
        font-family: 'Rubik', sans-serif;
        border-radius: .5rem;
        overflow: hidden;

        &:hover {
            border: 1px solid #fff;
        }
    }
}

.focused {
    background-color: #fff;
    color: $cl-blue !important;
}