.nav {
    background-color: $cl-blue;
    padding: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;

    & > * {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__item,
    &__item2 {
        list-style: none;
    }

    &__link,
    &__link2 {
        font-size: 3rem;
        text-decoration: none;
        color: #fff;
        padding: 1rem;
        font-family: 'Rubik', sans-serif;
        border-radius: .5rem;
        overflow: hidden;

        &:hover {
            border: 1px solid #fff;
        }
    }

    &__link2 {
        font-size: 2rem;
    }

    .biggerSize {
        @include respond(tab-port) {
            display: none;
        }
    }

    .smallerSize {
        display: none;
        justify-content: space-between;
        align-items: flex-start;

        @include respond(tab-port) {
            display: flex;
        }

        .whole-dropdown {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .dropdown-button {
                color: #fff;
                font-size: 3rem;
                margin-right: 20rem;

                &:hover {
                    cursor: pointer;
                }
            }

            .hidden-dropdown {
                list-style: none;
                transform: translateX(-5rem);

                .nav__item2:first-of-type {
                    margin-top: 1rem;
                }

                & > * {
                    padding: 1rem 0;
                }
            }
        }
    }
}

.focused {
    background-color: #fff;
    color: $cl-blue !important;
}